{% extends "base/base.html" %}
{% block title %}Contáctanos{% endblock title %}
{% block content %}
		{% if info_enviado %}
			GRACIAS POR ENVIAR UN COMENTARIO, NOS PONDREMOS EN CONTACTO.
			<br>
			La informacion recibida fue la siguiente: <br>
			<p>Email: {{email}}</p>
			<p>Titulo : {{titulo}}</p>
			<p>Texto: {{texto}}</p>
		{% else %}		
			<form action="." method="POST">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" value="Enviar">
			</form>
		{% endif %}
{% endblock content %}		