{% extends "base/base.html" %}
{% block title %}
	Panel de Administración
{% endblock title %}
{% block extracss %}
	<link href="/media/css/styleconfigurations.css" rel="stylesheet" media="screen">
{% endblock extracss %}
{% block extrajs %}
	<script src="/media/js/home.js"></script>
{% endblock extrajs %}


{% block panel_superior %}
	<!--<div class="col-lg-12">
		<div class="jumbotron">
			<div class="row ">
				<div class="col-lg-3 col-sm-offset-1">
					<div class="text-center">
						<span class="glyphicon glyphicon-wrench"></span>											
						<h4 class="text-bold"><a href="{%url 'vista_configuracion_productos'%}">Configuraciones</a></h4>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="text-center">
						<span class="glyphicon glyphicon-list-alt"></span>											
						<h4 class="text-bold"><a href="{%url 'vista_configuracion_productos'%}">Información general</a></h4>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="text-center">
						<span class="glyphicon glyphicon-stats"></span>											
						<h4 class="text-bold"><a href="{%url 'vista_configuracion_productos'%}">Actividades y Estadísticas</a></h4>
					</div>
				</div>
			</div> 
		</div>
	</div>	-->
	<br>
	
	{% block contenido %}
	{% endblock contenido %}
{% endblock panel_superior %}

