<!DOCTYPE html>
<html lang=	"">
	<head>
		<title>{% block title %} Titulo Base
			{% endblock title %}
		</title>
	</head>
	<body>
		<header>
			<h1>Waiter mi sistema favorito =D </h1>
			<br>
			<br>

			<nav>
				<a href="{%url "vista_principal"%}">Inicio</a>
				<a href="{%url "vista_products"%}">Productos</a>
				<a href="{%url "vista_contacto"%}">Contacto</a>
				<a href="{%url "vista_about"%}">A cerca de ...</a>
			</nav>
		</header>
		<section>
			{% block content %}				
			{% endblock content %}
		</section>
	</body>
</html>
