
<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Iniciar Sesión</title>
		<meta charset="UTF-8">
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">	
		<link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/media/css/signin.css" rel="stylesheet" media="screen">
		<script src="/media/js/jquery.js"></script>
		<script src="/media/js/jquery.min.js"></script>
		<script src="/media/bootstrap/js/bootstrap.js"></script>		
	</head>
	<body>

		<div class="container">
			<!--<div id="divAlert" class="alert alert-warning alert-dismissable" style="display: none">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Alerta!</strong> {{mensaje}}
			</div>-->
			{{mensaje}}
			<div class="row form-heading">
				<div class="col-md-4">
					<h3 class="text-right">Identifíquese</h3>
				</div> 
				<div class="col-md-8" style="line-height:60px">  <!---->
					<form action="." class="form-inline" role="form" method="POST">
						{% csrf_token %}					
						<div class="form-group">					
							{{LoginForm.username}}						
							{{LoginForm.password}}
						</div>					
						<button id="btnIngresar" class="btn btn-primary" type="submit">Ingresar</button>
					</form>
				</div>

				<div class="col-md-4">				
				</div> 
				<div class="col-md-4 text-center">
					<small>
						<small><a href="#">¿Ha olvidado la contraseña?</a></small>
					</small>
				</div> 


				
			</div>			
			



			<div class="row" style="margin:5%">
				<div class="col-md-4">
					{# Agregar Imagen #}
					<img class="text-center" src="/media/images/yantar.jpg">
				</div>
				<div class="col-md-8">
					<h1>Crear una Cuenta</h1>
				</div>
			</div>

			
		</div>

		<script>
			$("#btnIngresar").click(function() {
				$("#divAlert").show();
			});
		</script>

		
	</body>
</html>